@mixin TT400 {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 400;
}

@mixin roboto400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@mixin roboto700 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}

@mixin TT700 {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 700;
}

@mixin TT500 {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 500;
}
