<article class="hero" id="hero">
  <div class="container hero__container flex">
    <div class="hero__left">
      <div class="hero__content">
        <span class="hero__author">
          Мастер-класс от Игоря Робова
        </span>
        <h2 class="hero__title heading-reset">
          Неоновый фотосет 2.0 7 июля 20:00
        </h2>
        <button class="hero__btn btn-orange btn-reset">Узнать больше</button>
      </div>
      <span class="hero__stick">
        #мастеркласс
      </span>
    </div>

    <div class="hero__right">
      <h2 class="hero__heading heading-reset">
        Работы участников предыдущего мастер-класса
      </h2>
      <div class="hero__grid">
        <picture class="hero__2">
          <source srcset="img/hero2-320.webp" media="(max-width: 320px)">
          <source srcset="img/hero2-768.webp" media="(max-width: 768px)">
          <source srcset="img/hero2-1024.webp" media="(max-width: 1024px)">
          <img src="img/hero2-1920.webp" alt="Фото девушки крупным планом">
        </picture>
        <picture class="hero__3">
          <source srcset="img/hero3-320.webp" media="(max-width: 320px)">
          <source srcset="img/hero3-768.webp" media="(max-width: 768px)">
          <source srcset="img/hero3-1024.webp" media="(max-width: 1024px)">
          <img src="img/hero3-1920.webp" alt="Фото девушки крупным планом">
        </picture>
        <picture class="hero__4">
          <source srcset="img/hero4-320.webp" media="(max-width: 320px)">
          <source srcset="img/hero4-768.webp" media="(max-width: 768px)">
          <source srcset="img/hero4-1024.webp" media="(max-width: 1024px)">
          <img src="img/hero4-1920.webp" alt="Фото девушки крупным планом">
        </picture>
      </div>
    </div>
  </div>
</article>
