<section class="project" id="project">
  <div class="container">
    <h2 class="project__heading heading-reset">
      Наши проекты
    </h2>
    <ul class="list-reset project__list type">
      <li class="project__item type__landscape">
        <div class="project__card">
          <picture>
            <source srcset="img/landscape320.webp" media="(max-width: 767px)">
            <source srcset="img/landscape1024.webp" media="(max-width: 1200px)">
            <img src="img/landscape1920.webp" alt="Лес на фоне гор">
          </picture>
          <p class="project__descr">
            Синтетически, смешаны с не уникальными данными до степени…
          </p>
          <p class="project__descr1024">
            Синтетически, смешаны с не уникальными…
          </p>
          <span class="project__date project__icon">16 июня</span>
          <span class="project__type">#пейзаж</span>
        </div>
      </li>
      <li class="project__item type__portrait1">
        <div class="project__card">
          <picture>
            <source srcset="img/portrait1-320.webp" media="(max-width: 767px)">
            <source srcset="img/portrait1-1024.webp" media="(max-width: 1200px)">
            <img src="img/portrait1-1920.webp" alt="Фото мужчины в профиль">
          </picture>
          <p class="project__descr">
            В своём стремлении улучшить опыт&nbsp;мы, упускаем, что явные...
          </p>
          <p class="project__descr1024">
            В своём стремлении улучшить опыт мы…
          </p>
          <span class="project__date project__icon">28 мая</span>
          <span class="project__type">#портрет</span>
        </div>
      </li>
      <li class="project__item type__object">
        <div class="project__card">
          <picture>
            <source srcset="img/object320.webp" media="(max-width: 767px)">
            <source srcset="img/object768.webp" media="(max-width: 1023px)">
            <source srcset="img/object1024.webp" media="(max-width: 1200px)">
            <img src="img/object1920.webp" alt="Ветка дерева в декоративном горшке">
          </picture>
          <p class="project__descr">
            Равным образом, высокое качество позиционных…
          </p>
          <p class="project__descr1024">
            Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
          </p>
          <span class="project__date project__icon">14 мая</span>
          <span class="project__type">#предмет</span>
        </div>
      </li>
      <li class="project__item type__fuji">
        <div class="project__card-big">
          <picture>
            <source srcset="img/fuji320.webp" media="(max-width: 767px)">
            <source srcset="img/fuji768.webp" media="(max-width: 1023px)">
            <source srcset="img/fuji1024.webp" media="(max-width: 1200px)">
            <img src="img/fuji1920.webp" alt="Глаз девушки крупным планом">
          </picture>
          <span class="project__date project__icon">9 апреля</span>
          <h3 class="project__subtitile heading-reset">
            Cемантический разбор
          </h3>
          <p class="project__descr project__descr-big">
            В рамках спецификации современных стандартов, интерактивные прототипы
          </p>
          <!-- <p class="project__descr1024">
            В рамках спецификации современных стандартов, интерактивные прототипы
          </p> -->
          <button class="btn-reset project__btn">О проекте</button>
          <span class="project__type">#fuji</span>
        </div>
      </li>
      <li class="project__item type__retouch">
        <div class="project__card">
          <picture>
            <source srcset="img/retouch320.webp" media="(max-width: 767px)">
            <source srcset="img/retouch768.webp" media="(max-width: 1023px)">
            <source srcset="img/retouch1024.webp" media="(max-width: 1200px)">
            <img src="img/retouch1920.webp" alt="Апельсины на разделочной доске">
          </picture>
          <p class="project__descr">
            Как принято считать, многие известные личности и по сей день остаются уделом либералов…
          </p>
          <p class="project__descr1024">
            Как принято считать, многие известные личности и по сей день остаются уделом либералов…
          </p>
          <span class="project__date project__icon">9 марта</span>
          <span class="project__type">#ретушь</span>
        </div>
      </li>
      <li class="project__item type__portrait2">
        <div class="project__card">
          <picture>
            <source srcset="img/portrait2-320.webp" media="(max-width: 767px)">
            <source srcset="img/portrait2-768.webp" media="(max-width: 1023px)">
            <source srcset="img/portrait2-1024.webp" media="(max-width: 1200px)">
            <img src="img/portrait2-1920.webp" alt="Фото девушки">
          </picture>
          <p class="project__descr">
            С учётом сложившейся международной обстановки, новая модель организационной…
          </p>
          <p class="project__descr1024">
            С учётом сложившейся международной обстановки, новая модель организационной…
          </p>
          <span class="project__date project__icon">1 марта</span>
          <span class="project__type">#портрет</span>
        </div>
      </li>
      <li class="project__item type__oblivion">
        <div class="project__card-big">
          <picture>
            <source srcset="img/oblivion320.webp" media="(max-width: 767px)">
            <source srcset="img/oblivion768.webp" media="(max-width: 1023px)">
            <source srcset="img/oblivion1024.webp" media="(max-width: 1200px)">
            <img src="img/oblivion1920.webp" alt="Ледяная гора">
          </picture>
          <span class="project__date project__icon">20 марта</span>
          <h3 class="project__subtitile heading-reset">
            Забвение
          </h3>
          <p class="project__descr project__descr-big">
            Играет важную роль в формировании глубокомысленных рассуждений
          </p>
          <!-- <p class="project__descr1024">
            Играет важную роль в формировании глубокомысленных рассуждений
          </p> -->
          <button class="btn-reset project__btn">О проекте</button>
          <span class="project__type">#проектзабвение</span>
        </div>
      </li>
    </ul>
  </div>
</section>
