$orange: #FF6E30;
$orange-dark: #BC572B;
$red-dark: #CE4307;
$pink: #F06666;
$red: #FF3030;
$beige: #FFD4C1;
$white: #FFFFFF;
$white-dark: #E9E9E9;
$grey-light: #CACACA;
$grey: #999999;
$grey-dark: #4A4A4A;
$black-ligth: rgba(32, 32, 32, 0.85);
$black: #202020;

$gap: 30px;
